<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <title>About Us</title>
  <!-- build:remove -->
  <link rel="stylesheet" href="../bower_components/fancybox/source/jquery.fancybox.css">
  <link rel="stylesheet" href="../bower_components/jquery-ui/themes/blitzer/jquery-ui.min.css">
  <!-- /build -->
  <!-- build:template
  <% if (environment === 'markup') { %>
  <link rel="stylesheet" href="css/fancybox/jquery.fancybox.css">
  <% } %>
  /build -->
  <!-- build:css:build css/wondrous-ink.min.css -->
  <link rel="stylesheet" href="css/all.css">
  <!-- /build -->
  <!--[if IE 9]>
  <link rel="stylesheet" href="css/ie9.css">
  <![endif]-->
  <!-- build:remove -->
  <!-- /build -->
  <!-- build:template
  <%= ie %>
  /build -->
</head>
<body class="home white-scheme">
  <!--wrapper starts-->
  <div id="wrapper" class="with-cover blue">
    <!--header starts-->
    <header id="header">
      <div class="container">
        <div class="holder"><strong class="logo"><a href="index.html">Wondrous INK</a></strong>
          <nav id="nav" data-add-class-parent="data-add-class-parent"><a href="#" data-add-class="data-add-class" class="opener m-hidden"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
            <ul>
              <li class="active"><a href="about-us.html">About us</a>
              </li>
              <li><a href="group-discounts.html">Discounts</a>
              </li>
              <li><a href="#">Blog</a>
              </li>
              <li><a href="log-in-to-my-world.html">Login</a>
              </li>
              <li class="hidden m-visible"><a href="basket.html"><i class="icon-basket"></i>Basket</a>
              </li>
            </ul>
          </nav><a href="basket.html" class="basket m-hidden"><em class="count">2</em><i class="icon-basket-small"></i></a>
        </div>
      </div>
    </header>
    <!--header ends-->
    <!--main starts-->
    <div id="main">
      <!--promo section starts-->
      <section class="promo-section type-hero-2">
        <div class="container">
          <h1 class="entry hidden l-visible red">Our books are designed to create magical experiences that kids will treasure.</h1>
        </div>
      </section>
      <!--promo section ends-->
      <!--features section start-->
      <section class="features-section white text-box top-indent">
        <div class="holder">
          <div class="container">
            <h2 class="text-left">About us</h2>
            <p class="small-indent">Our books are designed to create magical experiences using a unique blend of print and digital technology that kids will treasure. Children have great fun receiving and reading their personalised books and then continue the enjoyment online using the book as a special key to unlock a Wondrous World of learning.</p>
            <p class="small-indent">Our debut book, Wondrous World, is one of the most beautifully illustrated and conceived bespoke children's books, where the letters in a chosen child's name become part of the adventure. This exquisite keepsake makes a really personal gift to fire mini imaginations now and beyond.</p>
            <section class="items-section">
              <h2 class="text-left">The team</h2>
              <article class="post">
                <div class="img-holder"><a href="#"><img data-original="images/content/img-post-1.jpg" src="images/none.gif" width="242" height="242" alt="img-description" class="lazy"></a></div>
                <h3 class="text-left uppercase"><a href="#">MIKE &amp; ANGELICA BRITTAIN</a></h3>
                <p>The Wondrous World book is brought to you by Mike &amp; Angelica, a husband and wife team with a real passion for bringing back the magic of books and engaging children through learning and reading. Building on the success of their Christmas letter service, <a href="#">Magical Santa</a>, they decided to create the most wonderful book for children to receive ever, and set out to build a dream team that could help bring their vision to life.</p>
                <p>Read more about how we made our book on our <a href="#">blog</a></p>
              </article>
              <article class="post">
                <div class="img-holder"><a href="#"><img data-original="images/content/img-post-2.jpg" src="images/none.gif" width="242" height="242" alt="img-description" class="lazy"></a></div>
                <h3 class="text-left uppercase"><a href="#">SARAH KHAN, AUTHOR</a></h3>
                <p>Sarah has been in children's publishing for all her working life, writing and editing books about everything from gerbils to gene therapy. She also has a puzzle column in the Telegraph Weekend supplement. Wondrous World is her first work of fiction. She enjoys spending time with her husband and family, and wandering around bookshops in the Cotswolds.</p>
                <p>Find Sarah on Twitter at <a href="#">@sarah1k</a></p>
              </article>
              <article class="post">
                <div class="img-holder"><a href="#"><img data-original="images/content/img-post-3.jpg" src="images/none.gif" width="242" height="242" alt="img-description" class="lazy"></a></div>
                <h3 class="text-left uppercase"><a href="#">ANDREA SANZ, ILLUSTRATOR</a></h3>
                <p>Andrea started out as a Psychologist, but soon realised that her passion lay in children's illustration. She travelled from Madrid to Scotland to pursue a course in Digital design before continuing her studies at an illustration college in Spain. These days you'll find her hard at work in her studios in Madrid, dreaming about new ways to spark the imagination of children through her unique hand-drawn illustration style.</p>
                <p>See her portfolio at <a href="https://www.behance.net/andreasanz">www.behance.net/andreasanz</a></p>
              </article>
            </section>
            <form action="#" novalidate data-role="preview-book" class="common-form text-center small">
              <label for="name-1">Create my book:</label>
              <div class="frame">
                <div class="row">
                  <input type="text" id="name-1" data-role="name" placeholder="Enter child’s name">
                </div>
                <div class="row">
                  <div class="col">
                    <ul class="radio-list">
                      <li>
                        <input type="radio" id="boy-1" name="gender-1" data-role="boy">
                        <label for="boy-1" class="radio-label">Boy</label>
                      </li>
                      <li>
                        <input type="radio" id="girl-1" name="gender-1" data-role="girl">
                        <label for="girl-1" class="radio-label">Girl</label>
                      </li>
                    </ul>
                  </div>
                  <div class="col">
                    <button type="submit" data-role="submit-name" data-letters-limit-max='12' data-letters-limit-min='3' class="btn align-right"><span>Preview book</span></button>
                  </div>
                  <div class="row hidden"><span data-error="type-1" class="hidden">Please enter the child's first name only (it should be a minimum of 3 characters and a maximum of 12 characters).</span><span data-error="type-2" class="hidden">Please click on either Boy or Girl.</span><span data-error="type-3" class="hidden">Oops, we can't make a book for this name yet as we don't have enough stories for the repeat letters in your child's name.<br>Please try again using just their first name or a shorter version of their name.</span></div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>
      <!--features section end-->
    </div>
    <!--main ends-->
    <!--footer starts-->
    <footer id="footer">
      <div class="frame">
        <div class="container">
          <ul class="social-list">
            <li><a href="#"><i class="icon-social-twitter"></i></a></li>
            <li><a href="#"><i class="icon-social-pinterest"></i></a></li>
            <li><a href="#"><i class="icon-social-facebook"></i></a></li>
          </ul>
          <nav class="footer-nav">
            <ul>
              <li><a href="frequently-asked-questions.html">FAQs</a></li>
              <li><a href="#">PRESS</a></li>
              <li><a href="#">NAMES</a></li>
              <li><a href="#">TERMS</a></li>
              <li><a href="#">PRIVACY</a></li>
              <li><a href="#">CONTACT US</a></li>
              <li class="currency-element">
                <label for="currency">CURRENCY</label>
                <div class="select-holder uppend">
                  <select name="currency" id="currency" data-role="select">
                    <option value="GBP" selected>GBP</option>
                    <option value="USD">USD</option>
                    <option value="EUR">EUR</option>
                    <option value="CAD">CAD</option>
                    <option value="AUD">AUD</option>
                    <option value="NZD">NZD</option>
                    <option value="HKD">HKD</option>
                    <option value="SGD">SGD</option>
                    <option value="KRW">KRW</option>
                  </select>
                </div>
              </li>
            </ul>
          </nav>
          <p class="copyright">&copy; Copyright Wondrous Ink Ltd. 2015. All rights reserved. Registered in England. Company number: 8983267. <br /> Registered office: 60a Waldron Road, London SW18 3TD, UK. Contact: <a href="mailto:info@wondrousink.com">info@wondrousink.com</a>.</p>
        </div>
      </div>
    </footer>
    <!--footer ends-->
  </div>
  <!--wrapper ends-->
  <script type="text/javascript">
    WebFontConfig = {
      google: { families: [ 'Cardo:400,700:latin', 'Lato:400,300,700:latin' ] }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>
  <!--jQuery library-->
  <!-- build:js js/jquery.min.js-->
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <!-- /build -->
  <!-- build:remove -->
  <!--modernizr plugin-->
  <script src="../bower_components/modernizr/modernizr.js"></script>
  <!--detectizr plugin-->
  <script src="../bower_components/detectizr/dist/detectizr.js"></script>
  <!--fastclick plugin-->
  <script src="../bower_components/fastclick/lib/fastclick.js"></script>
  <!--placeholder plugin-->
  <script src="../bower_components/jquery-placeholder/jquery.placeholder.js"></script>
  <!--retina plugin-->
  <script src="../bower_components/retina.js/dist/retina.min.js"></script>
  <!--imagesLoaded plugin-->
  <script src="../bower_components/imagesLoaded/imagesLoaded.pkgd.min.js"></script>
  <!--jquery lazyload plugin-->
  <script src="../bower_components/jquery_lazyload/jquery.lazyload.js"></script>
  <!-- /build -->
  <!-- build:template
  <% if (environment === 'markup') { %>
  <script src="js/plugins/modernizr.min.js"></script>
  <script src="js/plugins/detectizr.min.js"></script>
  <script src="js/plugins/fastclick.min.js"></script>
  <script src="js/plugins/jquery.placeholder.min.js"></script>
  <script src="js/plugins/retina.min.js"></script>
  <script src="js/plugins/imagesLoaded.pkgd.min.js"></script>
  <script src="js/plugins/jquery.lazyload.js"></script>
  <% } %>
  /build -->
  <!-- build:remove:build -->
  <!--include plugins-->
  <script src="js/jquery.form-validator.js"></script>
  <script src="js/jquery.show-error.js"></script>
  <script src="js/jquery.ajax-setup.js"></script>
  <script src="js/jquery.buy.js"></script>
  <script src="js/experiments.js"></script>
  <!--init plugins-->
  <script src="js/jquery.utilities.js"></script>
  <script src="js/jquery.common.js"></script>
  <!-- /build -->
  <!-- build:template
  <% if (environment === 'build') { %>
  <script async src="js/wondrous-ink.min.js"></script>
  <% } %>
  /build -->
  
</body>
</html>