<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <title>Preview</title>
  <!-- build:remove -->
  <link rel="stylesheet" href="../bower_components/fancybox/source/jquery.fancybox.css">
  <link rel="stylesheet" href="../bower_components/jquery-ui/themes/blitzer/jquery-ui.min.css">
  <!-- /build -->
  <!-- build:template
  <% if (environment === 'markup') { %>
  <link rel="stylesheet" href="css/fancybox/jquery.fancybox.css">
  <% } %>
  /build -->
  <!-- build:css:build css/wondrous-ink.min.css -->
  <link rel="stylesheet" href="css/all.css">
  <!-- /build -->
  <!--[if IE 9]>
  <link rel="stylesheet" href="css/ie9.css">
  <![endif]-->
  <!-- build:remove -->
  <!-- /build -->
  <!-- build:template
  <%= ie %>
  /build -->
</head>
<body class="preview loading">
  <!--wrapper starts-->
  <div id="wrapper">
    <!--header starts-->
    <header id="header">
      <div class="container">
        <div class="holder"><strong class="logo"><a href="index.html">Wondrous INK</a></strong>
          <nav id="nav" data-add-class-parent="data-add-class-parent"><a href="#" data-add-class="data-add-class" class="opener m-hidden"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
            <ul>
              <li><a href="about-us.html">About us</a>
              </li>
              <li><a href="group-discounts.html">Discounts</a>
              </li>
              <li><a href="#">Blog</a>
              </li>
              <li><a href="log-in-to-my-world.html">Login</a>
              </li>
              <li class="hidden m-visible"><a href="basket.html"><i class="icon-basket"></i>Basket</a>
              </li>
            </ul>
          </nav><a href="basket.html" class="basket m-hidden"><em class="count">2</em><i class="icon-basket-small"></i></a>
        </div>
      </div>
    </header>
    <!--header ends-->
    <!--main starts-->
    <div id="main">
      <!--visual starts-->
      <section data-book-gallery class="visual at-front-cover">
        <div class="container">
          <h1>The Wondrous world of</h1>
          <div class="holder"><a href="#" class="btn large disabled prev"><span><i class="icon-arrow-left"></i></span></a>
            <div class="info-box left"><span class="hidden m-visible">Tap book pages to preview</span><span class="m-hidden">Swipe pages to preview</span></div>
            <div class="mask">
              <div class="slideset bookblock deploy">
                <div data-character="smart" class="bookblock-deploy"><img src="images/book/cover.jpg" data-lg-src="images/book/cover.jpg" data-sm-src="images/book/cover-small.jpg" alt="img-description" width="509" height="448" class="cover"></div>
                <div data-character="smart" class="bookblock-deploy"><img src="images/book/img-book-1.jpg" data-lg-src="images/book/img-book-1.jpg" data-sm-src="images/book/img-book-small-1.jpg" alt="img-description" width="1013" height="448"></div>
                <div data-character="smart" class="bookblock-deploy"><img src="images/book/img-book-2.jpg" data-lg-src="images/book/img-book-2.jpg" data-sm-src="images/book/img-book-small-2.jpg" alt="img-description" width="1013" height="448"></div>
                <div data-character="smart" class="bookblock-deploy"><img src="images/book/img-book-1.jpg" data-lg-src="images/book/img-book-1.jpg" data-sm-src="images/book/img-book-small-1.jpg" alt="img-description" width="1013" height="448"></div>
                <div data-character="smart" class="bookblock-deploy"><img src="images/book/img-book-2.jpg" data-lg-src="images/book/img-book-2.jpg" data-sm-src="images/book/img-book-small-2.jpg" alt="img-description" width="1013" height="448"></div>
                <div data-character="amazing" class="bookblock-deploy"><img src="images/book/img-book-1.jpg" data-lg-src="images/book/img-book-1.jpg" data-sm-src="images/book/img-book-small-1.jpg" alt="img-description" width="1013" height="448"></div>
                <div data-character="lively" class="bookblock-deploy"><img src="images/book/img-book-2.jpg" data-lg-src="images/book/img-book-2.jpg" data-sm-src="images/book/img-book-small-2.jpg" alt="img-description" width="1013" height="448"></div>
                <div data-character="lovely" class="bookblock-deploy"><img src="images/book/img-book-1.jpg" data-lg-src="images/book/img-book-1.jpg" data-sm-src="images/book/img-book-small-1.jpg" alt="img-description" width="1013" height="448"></div>
                <div data-character="youthful" class="bookblock-deploy"><img src="images/book/img-book-2.jpg" data-lg-src="images/book/img-book-2.jpg" data-sm-src="images/book/img-book-small-2.jpg" alt="img-description" width="1013" height="448"></div>
                <div data-character="special" class="bookblock-deploy"><img src="images/book/img-book-1.jpg" data-lg-src="images/book/img-book-1.jpg" data-sm-src="images/book/img-book-small-1.jpg" alt="img-description" width="1013" height="448"></div>
                <div data-character="magnificient" class="bookblock-deploy"><img src="images/book/img-book-2.jpg" data-lg-src="images/book/img-book-2.jpg" data-sm-src="images/book/img-book-small-2.jpg" alt="img-description" width="1013" height="448"></div>
                <div data-character="intelligent" class="bookblock-deploy"><img src="images/book/img-book-1.jpg" data-lg-src="images/book/img-book-1.jpg" data-sm-src="images/book/img-book-small-1.jpg" alt="img-description" width="1013" height="448"></div>
                <div data-character="terrific" class="bookblock-deploy"><img src="images/book/img-book-2.jpg" data-lg-src="images/book/img-book-2.jpg" data-sm-src="images/book/img-book-small-2.jpg" alt="img-description" width="1013" height="448"></div>
                <div data-character="helpful" class="bookblock-deploy"><img src="images/book/img-book-1.jpg" data-lg-src="images/book/img-book-1.jpg" data-sm-src="images/book/img-book-small-1.jpg" alt="img-description" width="1013" height="448"></div>
                <div data-character="helpful" class="bookblock-deploy"><img src="images/book/rear-cover.jpg" data-lg-src="images/book/rear-cover.jpg" data-sm-src="images/book/rear-cover-small.jpg" alt="img-description" width="1280" height="462" class="cover-last"></div>
              </div>
            </div><a href="#" class="btn large next"><span><i class="icon-arrow-right"></i></span></a>
          </div>
          <div class="pager">
            <div class="info-box right">Or click letters of name to preview related sections</div>
            <ul class="list">
              <li data-selected-character="smart" class="active"><span class="item-table"><span class="item-cell">
                    <button class="element"><span class="letter">s</span></button></span></span></li>
              <li data-selected-character="amazing"><span class="item-table"><span class="item-cell">
                    <button class="element"><span class="letter">a</span></button></span></span></li>
              <li data-selected-character="lively"><span class="item-table"><span class="item-cell">
                    <button class="element"><span class="letter">l</span></button></span></span></li>
              <li data-selected-character="lovely"><span class="item-table"><span class="item-cell">
                    <button class="element"><span class="letter">l</span></button></span></span></li>
              <li data-selected-character="youthful"><span class="item-table"><span class="item-cell">
                    <button class="element"><span class="letter">y</span></button></span></span></li>
            </ul>
            <ul class="list">
              <li data-selected-character="special"><span class="item-table"><span class="item-cell">
                    <button class="element"><span class="letter">s</span></button></span></span></li>
              <li data-selected-character="magnificient"><span class="item-table"><span class="item-cell">
                    <button class="element"><span class="letter">m</span></button></span></span></li>
              <li data-selected-character="intelligent"><span class="item-table"><span class="item-cell">
                    <button class="element"><span class="letter">i</span></button></span></span></li>
              <li data-selected-character="terrific"><span class="item-table"><span class="item-cell">
                    <button class="element"><span class="letter">t</span></button></span></span></li>
              <li data-selected-character="helpful"><span class="item-table"><span class="item-cell">
                    <button class="element"><span class="letter">h</span></button></span></span></li>
            </ul>
          </div>
        </div>
      </section>
      <!--visual ends-->
      <div style="display:none;" class="loader">
        <div class="container"><strong class="entry hidden m-visible">Creating personalised book...</strong>
          <div class="frame">
            <div class="placeholder hidden m-visible"><img src="images/content/loader-transparent.gif" alt="placeholder" width="1083" height="246" class="lazy">
            </div>
            <ul class="list">
              <li class="step-1">
                <div class="ill-holder m-hidden"></div><strong class="title">Adding letters of child's name</strong>
              </li>
              <li class="step-2">
                <div class="ill-holder m-hidden"></div><strong class="title">Adding magically illustrated characters</strong>
              </li>
              <li class="step-3">
                <div class="ill-holder m-hidden"></div><strong class="title">Creating personalised pages &amp; ending</strong>
              </li>
            </ul>
            <div class="progress-bar m-hidden"></div>
          </div>
        </div>
      </div>
      <!--preview info starts-->
      <section class="preview-info bigger-bg">
        <div class="container">
          <div class="holder">
            <h2>The Wondrous World of Sally Smith.</h2>
            <div class="special-offer">
              <div class="img-holder"><img data-original="images/content/img-special-offer-1.png" src="images/none.gif" width="109" height="102" alt="img-description" class="lazy"></div><strong class="title"><span class="uppercase blue">SEPTEMBER SAVER </span>- Up to 40% off </strong>on multiple books - <a href="#lightbox" class="open-fancybox">see discounts</a>
            </div>
            <div class="price"><span class="old-price">£19.99</span><span class="new-price">£17.99</span><em>(10% off)</em>
              <div class="select-holder default-blue">
                <select name="currency" data-role="select" data-placeholder="Change currency">
                  <option value="GBP">GBP</option>
                  <option value="USD">USD</option>
                  <option value="EUR">EUR</option>
                  <option value="CAD">CAD</option>
                  <option value="AUD">AUD</option>
                  <option value="NZD">NZD</option>
                  <option value="HKD">HKD</option>
                  <option value="SGD">SGD</option>
                  <option value="KRW">KRW</option>
                </select>
              </div>
            </div>
            <p>Beautifully hand-illustrated and printed on thick, high quality paper. Suitable for 2 to 8 year olds, or makes a great keepsake for newborns. You can also add a unique message inside the front cover on the next page...</p>
            <ul class="action-list">
              <li><a href="#" class="btn full-width"><span>Get your unique book</span></a></li>
              <li><span class="or">or</span></li>
              <li><a href="#" class="big-text blue">Save for later</a><em class="note">Set a reminder, for an upcoming date such as a child, grandchild or nephew's birthday.</em></li>
            </ul>
          </div>
        </div>
      </section>
      <!--preview info ends-->
      <!--testimonials section start-->
      <section class="testimonials-section alt">
        <div class="container">
          <h2>Wondrous memories made...</h2>
          <ul class="list">
            <li>
              <blockquote>
                <q>“Fantastic, very nicely presented, loved the story. High quality printing and also enjoyed by the children!!!”</q>
                <cite>Dave, for his children</cite>
              </blockquote>
            </li>
            <li>
              <blockquote class="view-1">
                <q>“The most beautiful book ever and one my Grandson will treasure for ever”</q>
                <cite>Trisha, for her grandson</cite>
              </blockquote>
            </li>
            <li>
              <blockquote class="view-2">
                <q>“I was really excited for the book to arrive and I was very pleased when it did, the quality is fantastic and the story is so clever”</q>
                <cite>Julie, for her son</cite>
              </blockquote>
            </li>
          </ul>
        </div><span class="ill"></span>
      </section>
      <!--testimonials section end-->
      <section class="preview-info up-cloud">
        <div class="container">
          <div class="holder">
            <h2 class="accessibility">Preview info</h2>
            <ul class="action-list">
              <li><a href="#" class="btn full-width"><span>Purchase this book</span></a></li>
              <li><span class="or">or</span></li>
              <li><a href="#" class="btn full-width blue"><span>Save for later</span></a><em class="note">Set a reminder, for an upcoming date such as a child, grandchild or nephew's birthday.</em></li>
            </ul>
          </div>
        </div>
      </section>
    </div>
    <!--main ends-->
    <!--footer starts-->
    <footer id="footer">
      <div class="frame">
        <div class="container">
          <ul class="social-list">
            <li><a href="#"><i class="icon-social-twitter"></i></a></li>
            <li><a href="#"><i class="icon-social-pinterest"></i></a></li>
            <li><a href="#"><i class="icon-social-facebook"></i></a></li>
          </ul>
          <nav class="footer-nav">
            <ul>
              <li><a href="frequently-asked-questions.html">FAQs</a></li>
              <li><a href="#">PRESS</a></li>
              <li><a href="#">NAMES</a></li>
              <li><a href="#">TERMS</a></li>
              <li><a href="#">PRIVACY</a></li>
              <li><a href="#">CONTACT US</a></li>
              <li class="currency-element">
                <label for="currency">CURRENCY</label>
                <div class="select-holder uppend">
                  <select name="currency" id="currency" data-role="select">
                    <option value="GBP" selected>GBP</option>
                    <option value="USD">USD</option>
                    <option value="EUR">EUR</option>
                    <option value="CAD">CAD</option>
                    <option value="AUD">AUD</option>
                    <option value="NZD">NZD</option>
                    <option value="HKD">HKD</option>
                    <option value="SGD">SGD</option>
                    <option value="KRW">KRW</option>
                  </select>
                </div>
              </li>
            </ul>
          </nav>
          <p class="copyright">&copy; Copyright Wondrous Ink Ltd. 2015. All rights reserved. Registered in England. Company number: 8983267. <br /> Registered office: 60a Waldron Road, London SW18 3TD, UK. Contact: <a href="mailto:info@wondrousink.com">info@wondrousink.com</a>.</p>
        </div>
      </div>
    </footer>
    <!--footer ends--><span class="ill-body"><img data-original="images/backgrounds/bg-body.jpg" src="images/none.gif" alt="img-description" width="1440" height="863" class="lazy"></span>
  </div>
  <div id="lightbox" class="lightbox">
    <header class="heading">
      <h3>Discount on multiple books</h3>
    </header>
    <table>
      <tr>
        <td class="cell-1">1st book</td>
        <td class="price">£19.99</td>
      </tr>
      <tr>
        <td class="cell-1">2nd book</td>
        <td class="price">£17.99</td>
        <td class="red">10% off</td>
      </tr>
      <tr>
        <td class="cell-1">3rd book</td>
        <td class="price">£15.99</td>
        <td class="red">20% off</td>
      </tr>
      <tr>
        <td class="cell-1">4th book</td>
        <td class="price">£13.99</td>
        <td class="red">30% off</td>
      </tr>
      <tr>
        <td class="cell-1">5th  book+</td>
        <td class="price">£11.99</td>
        <td class="red">40% off</td>
      </tr>
    </table>
  </div>
  <!--wrapper ends-->
  <script type="text/javascript">
    WebFontConfig = {
      google: { families: [ 'Cardo:400,700:latin', 'Lato:400,300,700:latin' ] }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>
  <!--jQuery library-->
  <!-- build:js js/jquery.min.js-->
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <!-- /build -->
  <!-- build:remove -->
  <!--modernizr plugin-->
  <script src="../bower_components/modernizr/modernizr.js"></script>
  <!--detectizr plugin-->
  <script src="../bower_components/detectizr/dist/detectizr.js"></script>
  <!--fastclick plugin-->
  <script src="../bower_components/fastclick/lib/fastclick.js"></script>
  <!--placeholder plugin-->
  <script src="../bower_components/jquery-placeholder/jquery.placeholder.js"></script>
  <!--hammer plugin-->
  <script src="../bower_components/hammerjs/hammer.min.js"></script>
  <script src="../bower_components/jquery-hammerjs/jquery.hammer.js"></script>
  <!--retina plugin-->
  <script src="../bower_components/retina.js/dist/retina.min.js"></script>
  <!--fancybox plugin-->
  <script src="../bower_components/fancybox/source/jquery.fancybox.js"></script>
  <!--imagesLoaded plugin-->
  <script src="../bower_components/imagesLoaded/imagesLoaded.pkgd.min.js"></script>
  <!--jquery lazyload plugin-->
  <script src="../bower_components/jquery_lazyload/jquery.lazyload.js"></script>
  <!-- /build -->
  <!-- build:template
  <% if (environment === 'markup') { %>
  <script src="js/plugins/modernizr.min.js"></script>
  <script src="js/plugins/detectizr.min.js"></script>
  <script src="js/plugins/fastclick.min.js"></script>
  <script src="js/plugins/jquery.placeholder.min.js"></script>
  <script src="js/plugins/hammer.min.js"></script>
  <script src="js/plugins/jquery.hammer.min.js"></script>
  <script src="js/plugins/retina.min.js"></script>
  <script src="js/plugins/jquery.fancybox.pack.min.js"></script>
  <script src="js/plugins/imagesLoaded.pkgd.min.js"></script>
  <script src="js/plugins/jquery.lazyload.js"></script>
  <% } %>
  /build -->
  <!-- build:remove:build -->
  <!--include plugins-->
  <script src="js/jquery.form-validator.js"></script>
  <script src="js/jquery.ajax-setup.js"></script>
  <script src="js/jquery.buy.js"></script>
  <script src="js/experiments.js"></script>
  <!--init plugins-->
  <script src="js/jquery.utilities.js"></script>
  <script src="js/jquery.common.js"></script>
  <script src="js/jquery.init-book-gallery.js"></script>
  <!-- /build -->
  <!-- build:template
  <% if (environment === 'build') { %>
  <script src="js/wondrous-ink.min.js"></script>
  <% } %>
  /build -->
  
</body>
</html>