<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <title>Preview New</title>
  <!-- build:remove -->
  <link rel="stylesheet" href="../bower_components/fancybox/source/jquery.fancybox.css">
  <link rel="stylesheet" href="../bower_components/jquery-ui/themes/blitzer/jquery-ui.min.css">
  <!-- /build -->
  <!-- build:template
  <% if (environment === 'markup') { %>
  <link rel="stylesheet" href="css/fancybox/jquery.fancybox.css">
  <% } %>
  /build -->
  <!-- build:css:build css/wondrous-ink.min.css -->
  <link rel="stylesheet" href="css/all.css">
  <!-- /build -->
  <!--[if IE 9]>
  <link rel="stylesheet" href="css/ie9.css">
  <![endif]-->
  <!-- build:remove -->
  <!-- /build -->
  <!-- build:template
  <%= ie %>
  /build -->
</head>
<body class="new-preview">
  <!--wrapper starts-->
  <div id="wrapper" data-loader-hidden>
    <!--header starts-->
    <header id="header">
      <div class="container">
        <div class="holder"><strong class="logo"><a href="index.html">Wondrous INK</a></strong>
          <nav id="nav" data-add-class-parent="data-add-class-parent"><a href="#" data-add-class="data-add-class" class="opener m-hidden"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
            <ul>
              <li><a href="about-us.html">About us</a>
              </li>
              <li><a href="group-discounts.html">Discounts</a>
              </li>
              <li><a href="#">Blog</a>
              </li>
              <li><a href="log-in-to-my-world.html">Login</a>
              </li>
              <li class="hidden m-visible"><a href="basket.html"><i class="icon-basket"></i>Basket</a>
              </li>
            </ul>
          </nav><a href="basket.html" class="basket m-hidden"><em class="count">2</em><i class="icon-basket-small"></i></a>
        </div>
      </div>
    </header>
    <!--header ends-->
    <!--main starts-->
    <div id="main">
      <!--visual starts-->
      <section data-book-gallery class="visual at-front-cover">
        <div class="container">
          <h1>Preview John’s book</h1>
          <div class="holder"><a href="#" class="btn disabled prev"><span><i class="icon-arrow-left"></i></span></a>
            <div class="info-box left"><span class="hidden m-visible">Tap book pages to preview</span><span class="m-hidden">Swipe pages to preview</span></div>
            <div class="mask">
              <div class="slideset bookblock deploy">
                <div data-character="smart" class="bookblock-deploy"><img data-original="images/book/cover.jpg" src="images/none.gif" data-lg-src="images/book/cover.jpg" data-sm-src="images/book/cover-small.jpg" alt="img-description" width="1280" height="462" class="lazy cover"></div>
                <div data-character="smart" class="bookblock-deploy"><img data-original="images/book/img-book-1.jpg" src="images/none.gif" data-lg-src="images/book/img-book-1.jpg" data-sm-src="images/book/img-book-small-1.jpg" alt="img-description" width="1013" height="448" class="lazy"></div>
                <div data-character="smart" class="bookblock-deploy"><img data-original="images/book/img-book-2.jpg" src="images/none.gif" data-lg-src="images/book/img-book-2.jpg" data-sm-src="images/book/img-book-small-2.jpg" alt="img-description" width="1013" height="448" class="lazy"></div>
                <div data-character="smart" class="bookblock-deploy"><img data-original="images/book/img-book-1.jpg" src="images/none.gif" data-lg-src="images/book/img-book-1.jpg" data-sm-src="images/book/img-book-small-1.jpg" alt="img-description" width="1013" height="448" class="lazy"></div>
                <div data-character="smart" class="bookblock-deploy"><img data-original="images/book/img-book-2.jpg" src="images/none.gif" data-lg-src="images/book/img-book-2.jpg" data-sm-src="images/book/img-book-small-2.jpg" alt="img-description" width="1013" height="448" class="lazy"></div>
                <div data-character="amazing" class="bookblock-deploy"><img data-original="images/book/img-book-1.jpg" src="images/none.gif" data-lg-src="images/book/img-book-1.jpg" data-sm-src="images/book/img-book-small-1.jpg" alt="img-description" width="1013" height="448" class="lazy"></div>
                <div data-character="lively" class="bookblock-deploy"><img data-original="images/book/img-book-2.jpg" src="images/none.gif" data-lg-src="images/book/img-book-2.jpg" data-sm-src="images/book/img-book-small-2.jpg" alt="img-description" width="1013" height="448" class="lazy"></div>
                <div data-character="lovely" class="bookblock-deploy"><img data-original="images/book/img-book-1.jpg" src="images/none.gif" data-lg-src="images/book/img-book-1.jpg" data-sm-src="images/book/img-book-small-1.jpg" alt="img-description" width="1013" height="448" class="lazy"></div>
                <div data-character="youthful" class="bookblock-deploy"><img data-original="images/book/img-book-2.jpg" src="images/none.gif" data-lg-src="images/book/img-book-2.jpg" data-sm-src="images/book/img-book-small-2.jpg" alt="img-description" width="1013" height="448" class="lazy"></div>
                <div data-character="special" class="bookblock-deploy"><img data-original="images/book/img-book-1.jpg" src="images/none.gif" data-lg-src="images/book/img-book-1.jpg" data-sm-src="images/book/img-book-small-1.jpg" alt="img-description" width="1013" height="448" class="lazy"></div>
                <div data-character="magnificient" class="bookblock-deploy"><img data-original="images/book/img-book-2.jpg" src="images/none.gif" data-lg-src="images/book/img-book-2.jpg" data-sm-src="images/book/img-book-small-2.jpg" alt="img-description" width="1013" height="448" class="lazy"></div>
                <div data-character="intelligent" class="bookblock-deploy"><img data-original="images/book/img-book-1.jpg" src="images/none.gif" data-lg-src="images/book/img-book-1.jpg" data-sm-src="images/book/img-book-small-1.jpg" alt="img-description" width="1013" height="448" class="lazy"></div>
                <div data-character="terrific" class="bookblock-deploy"><img data-original="images/book/img-book-2.jpg" src="images/none.gif" data-lg-src="images/book/img-book-2.jpg" data-sm-src="images/book/img-book-small-2.jpg" alt="img-description" width="1013" height="448" class="lazy"></div>
                <div data-character="helpful" class="bookblock-deploy"><img data-original="images/book/img-book-1.jpg" src="images/none.gif" data-lg-src="images/book/img-book-1.jpg" data-sm-src="images/book/img-book-small-1.jpg" alt="img-description" width="1013" height="448" class="lazy"></div>
                <div data-character="helpful" class="bookblock-deploy"><img data-original="images/book/rear-cover.jpg" src="images/none.gif" data-lg-src="images/book/rear-cover.jpg" data-sm-src="images/book/rear-cover-small.jpg" alt="img-description" width="1280" height="462" class="lazy cover-last"></div>
              </div>
            </div><a href="#" class="btn next"><span><i class="icon-arrow-right"></i></span></a>
          </div>
        </div>
        <form action="#" novalidate data-role="preview-book" id="preview_form" class="common-form">
          <label for="name">Buy now to receive in time for Christmas...</label>
          <div class="btn-holder">
            <button type="submit" data-role="submit-name" data-letters-limit-max='12' data-letters-limit-min='3' class="btn align-right"><span>Buy for £19.99</span></button>
          </div>
          <div class="frame-box"><a href="#lightbox" class="open-fancybox">Save on multiple books</a></div>
        </form>
        <div class="description text-center">A magical uplifting story unique to each child, built around each letter of their name becoming the hero of the adventure. Watch their face as they realises that the book is all about them!
          <div class="btn-holder"><a href="https://www.youtube.com/embed/6_EB-IkhX-Y" class="btn blue fancybox-media"><span>See how it works on our video</span><i class="ico arrow"></i></a></div>
        </div>
      </section>
      <div style="display:none;" class="loader">
        <div class="container"><strong class="entry hidden m-visible">Creating personalised book...</strong>
          <div class="frame">
            <div class="placeholder hidden m-visible"><img src="images/content/loader-transparent.gif" alt="placeholder" width="1083" height="246"><img src="images/content/loader.png" alt="placeholder" width="1083" height="246" class="img-loader"></div>
            <ul class="list">
              <li class="step-1">
                <div class="ill-holder m-hidden"></div><strong class="title">Adding letters of child’s name</strong>
              </li>
              <li class="step-2">
                <div class="ill-holder m-hidden"></div><strong class="title">Adding magically illustrated characters</strong>
              </li>
              <li class="step-3">
                <div class="ill-holder m-hidden"></div><strong class="title">Creating personalised pages &amp; ending</strong>
              </li>
            </ul>
            <div class="progress-bar m-hidden"></div>
          </div>
        </div>
      </div>
      <!--preview info starts-->
      <section class="preview-info up-cloud">
        <div class="container">
          <h1 class="title">Over 30,000 children made happy!</h1>
        </div>
        <div class="scroll-gallery"><a href="#" class="btn-prev">Prev</a>
          <div class="holder">
            <ul class="slider">
              <li>
                <div class="img-holder"><img data-original="images/content/img-scroll-gallery-1.jpg" src="images/none.gif" width="179" height="242" alt="img-description" class="lazy"></div>
              </li>
              <li>
                <div class="img-holder"><img data-original="images/content/img-scroll-gallery-2.jpg" src="images/none.gif" width="239" height="174" alt="img-description" class="lazy"></div>
              </li>
              <li>
                <div class="img-holder"><img data-original="images/content/img-scroll-gallery-3.jpg" src="images/none.gif" width="242" height="180" alt="img-description" class="lazy"></div>
              </li>
              <li>
                <div class="img-holder"><img data-original="images/content/img-scroll-gallery-4.jpg" src="images/none.gif" width="242" height="180" alt="img-description" class="lazy"></div>
              </li>
              <li>
                <div class="img-holder"><img data-original="images/content/img-scroll-gallery-1.jpg" src="images/none.gif" width="179" height="242" alt="img-description" class="lazy"></div>
              </li>
              <li>
                <div class="img-holder"><img data-original="images/content/img-scroll-gallery-2.jpg" src="images/none.gif" width="239" height="174" alt="img-description" class="lazy"></div>
              </li>
              <li>
                <div class="img-holder"><img data-original="images/content/img-scroll-gallery-3.jpg" src="images/none.gif" width="242" height="180" alt="img-description" class="lazy"></div>
              </li>
              <li>
                <div class="img-holder"><img data-original="images/content/img-scroll-gallery-4.jpg" src="images/none.gif" width="242" height="180" alt="img-description" class="lazy"></div>
              </li>
            </ul>
          </div><a href="#" class="btn-next">Next</a>
        </div>
        <div class="container">
          <h1 class="title">What makes our book so special?</h1>
          <ul class="features-list">
            <li>
              <figure>
                <div class="img-holder"><img data-original="images/content/img-features-list-1.png" src="images/none.gif" alt="img-description" width="82" height="73" class="lazy"></div>
                <figcaption>Enhances reading skills, stimulate imagination</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <div class="img-holder"><img data-original="images/content/img-features-list-2.png" src="images/none.gif" alt="img-description" width="82" height="73" class="lazy"></div>
                <figcaption>Suitable for<br> 0 to 8 years old</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <div class="img-holder"><img data-original="images/content/img-features-list-3.png" src="images/none.gif" alt="img-description" width="82" height="73" class="lazy"></div>
                <figcaption>Wide landscape format - 10x9”</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <div class="img-holder"><img data-original="images/content/img-features-list-4.png" src="images/none.gif" alt="img-description" width="82" height="73" class="lazy"></div>
                <figcaption>Printed on thick, high quality paper</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <div class="img-holder"><img data-original="images/content/img-features-list-5.png" src="images/none.gif" alt="img-description" width="82" height="73" class="lazy"></div>
                <figcaption>Bound with the strongest glue for durability</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <div class="img-holder"><img data-original="images/content/img-features-list-6.png" src="images/none.gif" alt="img-description" width="82" height="73" class="lazy"></div>
                <figcaption>Delivered worldwide within 14 days</figcaption>
              </figure>
            </li>
          </ul>
          <div class="special-offer">
            <div class="box">
              <h2>Buy now to receive by the 21st October</h2>
              <button type="button" class="btn full-width"><span>Buy for £19.99</span></button>
              <div class="btn-holder"><a href="#lightbox" class="open-fancybox">Save on multiple books</a></div>
            </div>Not ready to buy yet? - <a href="#event-lightbox" class="open-fancybox">Save for later</a>
          </div>
        </div>
      </section>
      <!--preview info ends-->
    </div>
    <!--main ends-->
    <!--footer starts-->
    <footer id="footer">
      <div class="frame">
        <div class="container">
          <ul class="social-list">
            <li><a href="#"><i class="icon-social-twitter"></i></a></li>
            <li><a href="#"><i class="icon-social-pinterest"></i></a></li>
            <li><a href="#"><i class="icon-social-facebook"></i></a></li>
          </ul>
          <nav class="footer-nav">
            <ul>
              <li><a href="frequently-asked-questions.html">FAQs</a></li>
              <li><a href="#">PRESS</a></li>
              <li><a href="#">NAMES</a></li>
              <li><a href="#">TERMS</a></li>
              <li><a href="#">PRIVACY</a></li>
              <li><a href="#">CONTACT US</a></li>
              <li class="currency-element">
                <label for="currency">CURRENCY</label>
                <div class="select-holder uppend">
                  <select name="currency" id="currency" data-role="select">
                    <option value="GBP" selected>GBP</option>
                    <option value="USD">USD</option>
                    <option value="EUR">EUR</option>
                    <option value="CAD">CAD</option>
                    <option value="AUD">AUD</option>
                    <option value="NZD">NZD</option>
                    <option value="HKD">HKD</option>
                    <option value="SGD">SGD</option>
                    <option value="KRW">KRW</option>
                  </select>
                </div>
              </li>
            </ul>
          </nav>
          <p class="copyright">&copy; Copyright Wondrous Ink Ltd. 2015. All rights reserved. Registered in England. Company number: 8983267. <br /> Registered office: 60a Waldron Road, London SW18 3TD, UK. Contact: <a href="mailto:info@wondrousink.com">info@wondrousink.com</a>.</p>
        </div>
      </div>
    </footer>
    <!--footer ends--><span class="ill-body"><img data-original="images/backgrounds/bg-body.jpg" src="images/none.gif" alt="img-description" width="1440" height="863" class="lazy"></span>
  </div>
  <div id="lightbox" class="lightbox">
    <header class="heading">
      <h3>Discount on multiple books</h3>
    </header>
    <table>
      <tr>
        <td class="cell-1">1st book</td>
        <td class="price">£19.99</td>
      </tr>
      <tr>
        <td class="cell-1">2nd book</td>
        <td class="price">£17.99</td>
        <td class="red">10% off</td>
      </tr>
      <tr>
        <td class="cell-1">3rd book</td>
        <td class="price">£15.99</td>
        <td class="red">20% off</td>
      </tr>
      <tr>
        <td class="cell-1">4th book</td>
        <td class="price">£13.99</td>
        <td class="red">30% off</td>
      </tr>
      <tr>
        <td class="cell-1">5th  book+</td>
        <td class="price">£11.99</td>
        <td class="red">40% off</td>
      </tr>
    </table>
  </div>
  <div id="event-lightbox" class="lightbox">
    <header class="heading">
      <h3>Remind me later</h3>
    </header>
    <form action="#" data-ajax="true" novalidate class="data-form">
      <div class="form-control">
        <label for="email">Your email:</label>
        <input type="email" id="email" data-valid data-type-required>
      </div>
      <div class="form-control">
        <label for="date">Event date:</label>
        <input type="text" id="date" data-type-required class="datepicker">
      </div>
      <p>We'll remind you 2 weeks before this date.</p>
      <button type="submit" class="btn open-link"><span>Set reminder</span></button>
    </form>
  </div>
  <div id="welcome-lightbox" class="lightbox">
    <header class="heading">
      <h3>Thanks</h3>
    </header>
    <h4>Your remind has been sent</h4><a href="#" class="btn full-width close-popup"><span>Close</span></a>
  </div>
  <!--wrapper ends-->
  <script type="text/javascript">
    WebFontConfig = {
      google: { families: [ 'Cardo:400,700:latin', 'Lato:400,300,700:latin' ] }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>
  <!--jQuery library-->
  <!-- build:js js/jquery.min.js-->
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <!-- /build -->
  <!-- build:remove -->
  <!--modernizr plugin-->
  <script src="../bower_components/modernizr/modernizr.js"></script>
  <!--detectizr plugin-->
  <script src="../bower_components/detectizr/dist/detectizr.js"></script>
  <!--fastclick plugin-->
  <script src="../bower_components/fastclick/lib/fastclick.js"></script>
  <!--placeholder plugin-->
  <script src="../bower_components/jquery-placeholder/jquery.placeholder.js"></script>
  <!--hammer plugin-->
  <script src="../bower_components/hammerjs/hammer.min.js"></script>
  <script src="../bower_components/jquery-hammerjs/jquery.hammer.js"></script>
  <!--retina plugin-->
  <script src="../bower_components/retina.js/dist/retina.min.js"></script>
  <!--fancybox plugin-->
  <script src="../bower_components/fancybox/source/jquery.fancybox.js"></script>
  <!--jquery ui plugin-->
  <script src="../bower_components/jquery-ui/jquery-ui.js"></script>
  <script src="../bower_components/jquery-ui/ui/datepicker.js"></script>
  <!--imagesLoaded plugin-->
  <script src="../bower_components/imagesLoaded/imagesLoaded.pkgd.min.js"></script>
  <!--jquery lazyload plugin-->
  <script src="../bower_components/jquery_lazyload/jquery.lazyload.js"></script>
  <!-- /build -->
  <!-- build:template
  <% if (environment === 'markup') { %>
  <script src="js/plugins/modernizr.min.js"></script>
  <script src="js/plugins/detectizr.min.js"></script>
  <script src="js/plugins/fastclick.min.js"></script>
  <script src="js/plugins/jquery.placeholder.min.js"></script>
  <script src="js/plugins/hammer.min.js"></script>
  <script src="js/plugins/jquery.hammer.min.js"></script>
  <script src="js/plugins/retina.min.js"></script>
  <script src="js/plugins/jquery.fancybox.pack.min.js"></script>
  <script src="js/plugins/imagesLoaded.pkgd.min.js"></script>
  <script src="js/plugins/jquery.lazyload.js"></script>
  <% } %>
  /build -->
  <!-- build:remove:build -->
  <!--include plugins-->
  <script src="js/jquery.form-validator.js"></script>
  <script src="js/jquery.carousel.js"></script>
  <script src="js/jquery.form-validator.js"></script>
  <script src="js/jquery.show-error.js"></script>
  <script src="js/jquery.ajax-setup.js"></script>
  <script src="js/jquery.buy.js"></script>
  <script src="js/experiments.js"></script>
  <!--init plugins-->
  <script src="js/jquery.init-book-gallery.js"></script>
  <script src="js/jquery.utilities.js"></script>
  <script src="js/jquery.common.js"></script>
  <!-- /build -->
  <!-- build:template
  <% if (environment === 'build') { %>
  <script src="js/wondrous-ink.min.js"></script>
  <% } %>
  /build -->
  
</body>
</html>