@font-face {
    font-family: 'Take Out The Garbage';
    src: url('../fonts/take-out-the-garbageinternational.eot');
    src: url('../fonts/take-out-the-garbageinternational.eot?#iefix') format('embedded-opentype'),
         url('../fonts/take-out-the-garbageinternational.woff2') format('woff2'),
         url('../fonts/take-out-the-garbageinternational.woff') format('woff'),
         url('../fonts/take-out-the-garbageinternational.ttf') format('truetype'),
         url('../fonts/take-out-the-garbageinternational.svg#take-out-the-garbageregular') format('svg');
    font-weight: normal;
    font-style: normal;

}