- var title = 'Homepage'
- var footerView = false
- var ui         = false
- var step1      = false
- var step2      = false
- var step3      = false
- var aboutUs    = false
- var discount   = false
- var login      = false
- var newPreview = false